.header-container {
  align-items: center;
  background-color: grey;
  color: black;
  display: flex;
  height: 60px;
  justify-content: space-between;
  top: 0;
  width: 100vw;
}

.settings-icon {
  border-radius: 15px;
  height: 30px;
  width: 30px;
}

.player-image {
  border-radius: 20px;
  height: 40px;
  width: 40px;
}
